<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename = 'css/main.css') }}" rel="stylesheet" type="text/css"/>
{% include '/menu/header.html' %}
<!-- <style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        height: calc(var(--vh, 1vh) * 41);
        width: 21vw;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #3C414C;
        color: #fff;
    }

    .chartContents > .doughnutChart{
        flex-grow: 1;
    }

    .chartContents > .barChart{
        height: calc(var(--vh, 1vh) * 50);
        flex-grow: 2;
    }

    .chartContents > .barChart > div > canvas{
        width: 100% !important;
        display: inline !important;
        padding: 10px;
    }

    .chartContents > div > .chartTitle{
        padding: 10px;
    }

    .chartContents > div > .chartDiv{
        width: 100%;
        text-align:center;
    }

    .chartContents > .doughnutChart > div > canvas{
        width: 100% !important;
        height: 35vh !important;
        display: inline-block !important;
        padding: 10px;
    }

    .alarmBody{
        height: 35vh;
        overflow-y: scroll;
    }

    #camListTable > tbody > tr > td > span{
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 15px;
        margin-right: 5px;
    }
    
    #camListTable > tbody > tr > td > .sensorRateCheck0{
        background-color: #1DDB16;
    }

    #camListTable > tbody > tr > td > .sensorRateCheck1{
        background-color: #FF5E00;
    }

    #camListTable > tbody > tr > td > .sensorRateCheck2{
        background-color: #FF0000;
    }

</style> -->

</head>
<body>
    <!-- <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}      
    </div> -->

    <div id="commonBodyContents">
    {% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <!-- <div class="subMenu">
                <a href="/monmain">목록 보기</a>
                <a href="/subm/mnu002">지도 보기</a>
            </div> -->
                <div class="mainTopSettings">
                    <img src="/static/images/main/reload.png" onclick="dateReload();"/>
                    <div>
                        <input type="date" id="mainSetDate"/>
                        <span>&nbsp;|&nbsp;</span>
                        <input type="time" id="mainSetTime"/>
                    </div>
                </div>
                <div class="gridContainer">
                    <div class="gridFirstContents">
                        <div class="mainSearch">
                            <hr class="boxTopLineShort" />
                            
                            <div>
                                <div class="mainSearchText">
                                    <img src="/static/images/main/glasses.png" />
                                    <input type="text" class="mainSearchInput" onkeyup="mainSearchKeyup(this);"/>
                                </div>
                                <div class="mainSearchContent">
                                    {% for k in result_camList %}
                                        <div data-no="{{k[0]}}" onclick="searchTextActive(this);">{{k[1]}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="camList">
                            <hr class="boxTopLineShort" />

                            <table id="camListTableHeader" class="table table-striped nowrap overflow-auto">
                                <colgroup>
                                    <col width = "20%">
                                    <col width = "20%">
                                    <col width = "20%">
                                    <col width = "20%">
                                    <col width = "20%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>고객명</td>
                                        <td>{{sensorText1}}</td>
                                        <td>{{sensorText2}}</td>
                                        <td>{{sensorText3}}</td>
                                        <td>{{sensorText4}}</td>
                                    </tr>
                                </thead>
                            </table>

                            <div>
                                <table id="camListTableBody" class="table table-striped nowrap overflow-auto">
                                    <colgroup>
                                        <col width = "20%">
                                        <col width = "20%">
                                        <col width = "20%">
                                        <col width = "20%">
                                        <col width = "20%">
                                    </colgroup>
                                    <tbody>
                                        {% for k in result_camList %}
                                        <tr data-no="{{k[0]}}" data-rate="{{sensorJsonDatas[loop.index0][0]}}">
                                            <td>
                                                <a href="/sitedetail/{{k[0]}}">{{k[1]}}</a>
                                            </td>
                                            <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][0]}}"></span>{{sensorJsonDatas[loop.index0][0]}}</td>
                                            <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][1]}}"></span>{{sensorJsonDatas[loop.index0][1]}}</td>
                                            <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][2]}}"></span>{{sensorJsonDatas[loop.index0][2]}}</td>
                                            <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][3]}}"></span>{{sensorJsonDatas[loop.index0][3]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="mainAllMap">
                            <div id="mainAllMap" style="width:100%;height:350px;"></div>
                        </div>

                        <div class="mainOneMap">
                            <div id="mainOneMap" style="width:100%;height:350px;"></div>
                        </div>

                        <div class="camLocationList">
                            <hr class="boxTopLineShort" />

                            <table id="camLocationListTableHeader" class="table table-striped nowrap overflow-auto">
                                <colgroup>
                                    <col width = "33%">
                                    <col width = "33%">
                                    <col width = "33%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td>위치</td>
                                        <td>위도</td>
                                        <td>경도</td>
                                    </tr>
                                </thead>
                            </table>

                            <div>
                                <table id="camLocationListTableBody" class="table table-striped nowrap overflow-auto">
                                    <colgroup>
                                        <col width = "33%">
                                        <col width = "33%">
                                        <col width = "33%">
                                    </colgroup>
                                    <tbody>
                                        {% for k in result_camList %}
                                        <tr data-no="{{k[0]}}" data-rate="{{sensorJsonDatas[loop.index0][0]}}">
                                            <td>{{k[3]}} {{k[4]}}</td>
                                            <td>{{k[9]}}</td>
                                            <td>{{k[10]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="gridSecondContents">
                        <div class="doughnutChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">DISK(%)</div>
                            <div class="chartDiv">
                                <canvas id="diskChart" width="100vw" height="230vh"></canvas>
                            </div>
                        </div>
                        <div class="doughnutChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">CPU(%)</div> 
                            <div class="chartDiv">
                                <canvas id="cpuChart" width="100vw" height="230vh"></canvas>
                            </div>
                        </div>
                        <div class="doughnutChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">MEMORY(%)</div>
                            <div class="chartDiv">
                                <canvas id="memoryChart" width="100vw" height="230vh"></canvas>
                            </div>
                        </div>
                        <div class="barChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">일별(건)</div>
                            <div class="chartDiv">
                                <canvas id="dateChart" width="100vw" height="250vh"></canvas>
                            </div>
                        </div>
                        <div class="barChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">시간별(건)</div>
                            <div class="chartDiv">
                                <canvas id="hourChart" width="100vw" height="250vh"></canvas>
                            </div>
                        </div>
                        <div class="barChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">월별(건)</div>
                            <div class="chartDiv">
                                <canvas id="monthChart" width="100vw" height="250vh"></canvas>
                            </div>
                        </div>
                        <div class="barChart">
                            <hr class="boxTopLineShort" />
                            <div class="chartTitle">장소별(건)</div>
                            <div class="chartDiv">
                                <canvas id="locationChart" width="100vw" height="250vh"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div>
                <div style="width: 100%;">
                    <hr class="boxTopLineLong" />
                    <table id="camListTable" class="table table-striped nowrap overflow-auto" style="width: 88.3vw;">
                        <colgroup>
                            <col width = "10%">
                            <col width = "10%">
                            <col width = "10%">
                            <col width = "10%">
                            <col width = "10%">
                            <col width = "10%">
                            <col width = "40%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>고객명</td>
                                <td>불꽃</td>
                                <td>{{sensorText1}}</td>
                                <td>{{sensorText2}}</td>
                                <td>{{sensorText3}}</td>
                                <td>{{sensorText4}}</td>
                                <td>위치</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k in result_camList %}
                            <tr data-no="{{k[0]}}" data-rate="{{sensorJsonDatas[loop.index0][0]}}">
                                <td>
                                    <a href="/sitedetail/{{k[0]}}">{{k[1]}}</a>
                                </td>
                                <td class="fireCheckTd" data-no="{{k[0]}}">OFF</td>
                                <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][0]}}"></span>{{sensorJsonDatas[loop.index0][0]}}</td>
                                <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][1]}}"></span>{{sensorJsonDatas[loop.index0][1]}}</td>
                                <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][2]}}"></span>{{sensorJsonDatas[loop.index0][2]}}</td>
                                <td><span class="sensorRateCheck{{sensorRateArray[loop.index0][3]}}"></span>{{sensorJsonDatas[loop.index0][3]}}</td>
                                <td>({{k[2]}}) {{k[3]}} {{k[4]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="chartContents">
                    <div>
                        <hr class="boxTopLineShort" />
                        <table class="table table-striped nowrap" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <td>알람키</td>
                                    <td>알람시작</td>
                                    <td>알람해제</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="alarmBody">
                            <table class="table table-striped nowrap">
                                <tbody>
                                    {% for k in alarmList %}
                                    <tr>
                                        <td>{{k[1]}}</td>
                                        <td>{{k[2]}}</td>
                                        <td>{{k[3]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">DISK(%)</div>
                        <div class="chartDiv">
                            <canvas id="diskChart"></canvas>
                        </div>
                    </div>
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">CPU(%)</div> 
                        <div class="chartDiv">
                            <canvas id="cpuChart"></canvas>
                        </div>
                    </div>
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">MEMORY(%)</div>
                        <div class="chartDiv">
                            <canvas id="memoryChart"></canvas>
                        </div>
                    </div>
                    <div class="barChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">일별(건)</div>
                        <div class="chartDiv">
                            <canvas id="dateChart" width="500"></canvas>
                        </div>
                    </div>
                    <div class="barChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">시간별(건)</div>
                        <div class="chartDiv">
                            <canvas id="hourChart" width="500"></canvas>
                        </div>
                    </div>
                </div>
             </div>
            </div> -->
        </div>
    </div>
</body>
<script>
    const variableObj = {};

    $(document).ready(function () {
        mainDatasSet();
        mainChartDatas();
        diskChartSet();
        cpuChartSet();
        memoryChartSet();
        //areaChartSet();
        setTimeout(() => {
            dateListChartSet();
            hourListChartSet();
            monthListChartSet();
            locationListChartSet();
            allMapFunc();
            mainOneMapPlace(document.getElementById("mainOneMap"));
        }, 700);
    });

    function mainDatasSet(){
        $.ajax({
            url: "/getMainCamList",
            method: "get",
            dataType: "json",
            contentType: "text/plain",
            success:function(result){
                let sensorJsonDatas = {{sensorJsonDatas|tojson}};
                let sensorRateArray = {{sensorRateArray|tojson}};
                variableObj.sensorJsonDatas = sensorJsonDatas;
                variableObj.sensorRateArray = sensorRateArray;
                variableObj.camList = result;
            }
        })
    }

    function mainSearchKeyup(thisEle){
        let searchDiv = $(thisEle).parent().next().children();

        for(let i = 0; i < searchDiv.length; i++){
            let item = $(searchDiv[i]);

            if(item.text().indexOf($(thisEle).val()) > -1){
                item.css("display", "block");
            }else{
                item.css("display", "none");
            }
        }
    }

    function mainOneMapPlace(container, lat, lng){
        let positions = [];
        variableObj.mapConfig = {};

        variableObj.mapConfig.infowindow = new kakao.maps.InfoWindow({zIndex:1});

        if(lat !== undefined && lng !== undefined){
            variableObj.mapConfig.options = {
                center: new kakao.maps.LatLng(parseFloat(lat) + 0.0005, parseFloat(lng)),
                level: 3
            };
        }else{
            variableObj.mapConfig.options = {
                center: new kakao.maps.LatLng(parseFloat(variableObj.camList[0][9]) + 0.0005, parseFloat(variableObj.camList[0][10])),
                level: 3
            };
        }
        variableObj.mapConfig.map = new kakao.maps.Map(container, variableObj.mapConfig.options);

        for(let i = 0; i < variableObj.camList.length; i++){
            let item = variableObj.camList[i];
            let content;
            let contentText = "";
            contentText = "<div class=\"mapWrap\">";
            contentText += "<div class=\"mapInfo\">";
            contentText += "<div class=\"mapTitle\">" + item[1] + "</div>";
            contentText += "<div class=\"mapBody\">";
            contentText += "<div class=\"mapImg\"><img src=\"https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/thumnail.png\" width=\"73\" height=\"70\"></div>";
            contentText += "<div class=\"mapDesc\">";
            contentText += "<div class=\"mapEllipsis\">" + item[3] + "</div>";
            contentText += "<div class=\"mapJibun\">(우) " + item[2] + "(지번) " + item[4] + "</div>";
            contentText += "</div></div></div></div>";
            
            if(item[4].split(",")[1] === undefined){
                content = "";
            }else{
                content = item[4].split(",")[1].replaceAll(")").replaceAll("undefined", "");
            }

            let datas = {
                "content": content,
                "latlng": new kakao.maps.LatLng(item[9], item[10]),
                "text": contentText,
            }
            positions.push(datas);
        }

        displayMarker(positions);
    }

    function displayMarker(positions) {
        for(let i = 0; i < positions.length; i++){
            var marker = new kakao.maps.Marker({
                map: variableObj.mapConfig.map,
                position: positions[i].latlng,
            });
        
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content
            });

            var customOverlay = new kakao.maps.CustomOverlay({
                position: positions[i].latlng,
                content: positions[i].text,
                xAnchor: 0.45,
                yAnchor: 1.4
            });
    
            /* kakao.maps.event.addListener(marker, 'click', function(){
                location.href = "/" + positions[i].link;
                setTimeout(() => {
                    location.reload();
                }, 1000);
            }); */

            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(variableObj.mapConfig.map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            customOverlay.setMap(variableObj.mapConfig.map);
        }
    }

    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }
    
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }

    function allMapFunc(){
        let data = {
            "positions": [],
        };

        var map = new kakao.maps.Map(document.getElementById('mainAllMap'), {
            center : new kakao.maps.LatLng(36.2683, 127.6358),
            level : 14
        });
        
        var clusterer = new kakao.maps.MarkerClusterer({
            map: map,
            averageCenter: true,
            minLevel: 10
        });

        for(let i = 0; i < variableObj.camList.length; i++){
            let datas = {};
            let item = $(variableObj.camList[i]);
            datas.lat = item[9];
            datas.lng = item[10];

            data.positions.push(datas);
        }
     
        var markers = $(data.positions).map(function(i, position) {
            return new kakao.maps.Marker({
                position : new kakao.maps.LatLng(position.lat, position.lng)
            });
        });

        clusterer.addMarkers(markers);
    }

    
    function searchTextActive(thisEle){
        let camListTbody = $("#camListTableBody tbody");
        let camLocationListTableBody = $("#camLocationListTableBody tbody");
        camListTbody.html("");
        camLocationListTableBody.html("");
        
        for(let i = 0; i < variableObj.camList.length; i++){
            let listHtml = "";
            let locationlistHtml = "";
            let item = $(variableObj.camList[i]);
            listHtml += "<tr data-no=\"" + item[0] + "\" data-rate=\"" + variableObj.sensorJsonDatas[i][0] + "\">";
            listHtml += "<td><a href=\"sitedetail/\"" + item[0] + "\">" + item[1] + "</a></td>";
            listHtml += "<td><span class=\"sensorRateCheck" + variableObj.sensorRateArray[i][0] + "\"></span>" + variableObj.sensorJsonDatas[i][0] + "</td>";
            listHtml += "<td><span class=\"sensorRateCheck" + variableObj.sensorRateArray[i][1] + "\"></span>" + variableObj.sensorJsonDatas[i][1] + "</td>";
            listHtml += "<td><span class=\"sensorRateCheck" + variableObj.sensorRateArray[i][2] + "\"></span>" + variableObj.sensorJsonDatas[i][2] + "</td>";
            listHtml += "<td><span class=\"sensorRateCheck" + variableObj.sensorRateArray[i][3] + "\"></span>" + variableObj.sensorJsonDatas[i][3] + "</td>";
            listHtml += "</tr>";

            locationlistHtml += "<tr data-no=\"" + item[0] + "\" data-rate=\"" + variableObj.sensorJsonDatas[i][0] + "\">";
            locationlistHtml += "<td>" + item[3] + "(" + item[4] + ")" + "</td>";
            locationlistHtml += "<td>" + item[9] + "</td>";
            locationlistHtml += "<td>" + item[10] + "</td>";
            locationlistHtml += "</tr>";

            if($(thisEle).text() === item[1]){
                camListTbody.prepend(listHtml);
                camLocationListTableBody.prepend(locationlistHtml);
                mainOneMapPlace(document.getElementById("mainOneMap"), item[9], item[10]);
            }else{
                camListTbody.append(listHtml);
                camLocationListTableBody.append(locationlistHtml);
            }
        }
    }

    function mainChartDatas(){
        let setDate = localStorage.getItem("setDate");
        let mainSetDate = $("#mainSetDate");
        let mainSetTime = $("#mainSetTime");
        let offset = 1000 * 60 * 60 * 9;
        let nowDate = new Date((new Date()).getTime() + offset);
        let dateDatas = {};
        let calcDate, calcHour, calcLocation, setDateFrom, setDateTo, setHourFrom, setHourTo, setYearFrom, setYearTo, setLocationFrom, setLocationTo;
        setYearFrom = nowDate.getFullYear() + "-01-01";
        setYearTo = nowDate.getFullYear() + "-12-31";
        
        if(setDate == null){
            calcDate = new Date(nowDate);
            calcHour = new Date(nowDate);
            mainSetDate.val(nowDate.toISOString().substring(0, 10));
            mainSetTime.val(nowDate.toISOString().substring(11, 16));
            setHourFrom = nowDate.toISOString().substring(0, 10);
            setLocationFrom = setYearFrom;
            setLocationTo = setYearTo;
        }else{
            let splitStr = setDate.split(" ");
            let splitDate = splitStr[0];
            let splitTime = splitStr[1];
            calcDate = new Date(splitDate);
            calcHour = new Date(splitDate);
            calcLocation = new Date(splitDate);
            setLocationFrom = calcLocation.toISOString().substring(0, 10);
            calcLocation.setDate(calcLocation.getDate() + 1);
            setLocationTo = calcLocation.toISOString().substring(0, 10);
            setHourFrom = calcDate.toISOString().substring(0, 10);
            
            mainSetDate.val(splitDate);
            mainSetTime.val(splitTime);

            localStorage.removeItem("setDate");
        }

        calcDate.setDate(calcDate.getDate() + 1);
        setDateTo = calcDate.toISOString().substring(0, 10);
        calcDate.setDate(calcDate.getDate() - 10);
        setDateFrom = calcDate.toISOString().substring(0, 10);

        $.ajax({
            url: "/getMainDateList/" + setDateFrom + "/" + setDateTo,
            method: "get",
            dataType: "json",
            success:function(result){
                variableObj.dateList = result;
            }
        });

        calcHour.setDate(calcHour.getDate() + 1);
        setHourTo = calcHour.toISOString().substring(0, 10);

        $.ajax({
            url: "/getMainHourList/" + setHourFrom + "/" + setHourTo,
            method: "get",
            dataType: "json",
            success:function(result){
                variableObj.hourList = result;
            }
        });

        $.ajax({
            url: "/getMainMonthList/" + setYearFrom + "/" + setYearTo,
            method: "get",
            dataType: "json",
            success:function(result){
                variableObj.monthList = result;
            }
        });

        $.ajax({
            url: "/getMainLocationList/" + setLocationFrom + "/" + setLocationTo,
            method: "get",
            dataType: "json",
            success:function(result){
                variableObj.locationList = result;
            }
        });
    }

    function dateReload(){
        let mainSetDate = $("#mainSetDate");
        let mainSetTime = $("#mainSetTime");
        localStorage.setItem("setDate", mainSetDate.val() + " " + mainSetTime.val());

        mainChartDatas();

        setTimeout(() => {
            dateListChartSet();
            hourListChartSet();
            locationListChartSet();
        }, 300);
    }

    function diskChartSet(){
        let diskChart = document.getElementById("diskChart").getContext('2d');
        let disk = {{result_disk|tojson}};
        disk[1] = disk[1] / disk[0] * 100;
        disk[2] = disk[2] / disk[0] * 100;

        new Chart(diskChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(disk[1]).toFixed(2), (disk[2]).toFixed(2)],
                        fontColor: "#fff",
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: {
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function cpuChartSet(){
        let cpuChart = document.getElementById("cpuChart").getContext('2d');
        let cpu_remain = {{cpu_remain|tojson}};
        let cpu_percent = {{cpu_percent|tojson}};

        new Chart(cpuChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [cpu_percent, cpu_remain],
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function memoryChartSet(){
        let memoryChart = document.getElementById("memoryChart").getContext('2d');
        let memory = {{result_mem|tojson}};
        memory[3] = memory[3] / memory[0] * 100;
        memory[4] = memory[4] / memory[0] * 100;

        new Chart(memoryChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(memory[3]).toFixed(2), (memory[4]).toFixed(2)],
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function dateListChartSet(){
        let getChartContent = document.getElementById("dateChart");
        let copyContent = getChartContent.cloneNode(true);
        getChartContent.after(copyContent);
        getChartContent.remove();

        let dateChart = document.getElementById("dateChart").getContext('2d');

        let dateDataArr = [];
        let dataArr = [];

        setTimeout(() => {
            for(let i = 0; i < variableObj.dateList.length; i++){
                let item = variableObj.dateList[i];
                dateDataArr.push(item[0]);
                dataArr.push(item[1]);
            }
    
            new Chart(dateChart, {
                type: "bar",
                data: {
                    labels: dateDataArr,
                    datasets: [
                        {
                            label: "일자별 데이터",
                            data: dataArr,
                            backgroundColor: "#86E57F",
                            radius:0,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 11,
                                fontColor: "#fff"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 11,
                                fontColor: "#fff"
                            }
                        }]
                    },
                    legend: {
                        labels: { 
                            fontSize: 11,
                            fontColor: "#fff",
                        },
                    },
                },
            });
        }, 100);
    }

    function hourListChartSet(){
        let getChartContent = document.getElementById("hourChart");
        let copyContent = getChartContent.cloneNode(true);
        getChartContent.after(copyContent);
        getChartContent.remove();

        let hourChart = document.getElementById("hourChart").getContext('2d');
        let dateDataArr = [];
        let dataArr = [];
        let tempDatas1 = {};
        let tempDatas2 = {};

        setTimeout(() => {
            for(let i = 0; i < variableObj.hourList.length; i++){
                let item = variableObj.hourList[i];
                tempDatas1[Number(item[0])] = item[1];
            }
            
            for(let i = 0; i < 24; i++){
                let label = i;
    
                if(label < 10){
                    label = "0" + label;
                }
    
                tempDatas2[Number(label)] = 0;
                dateDataArr.push(label);
            }
    
            for(let key in tempDatas1){
                tempDatas2[key] = tempDatas1[key];
            }
    
            for(let key in tempDatas2){
                dataArr.push(tempDatas2[key]);
            }
    
            new Chart(hourChart, {
                type: "bar",
                data: {
                    labels: dateDataArr,
                    datasets: [
                        {
                            label: "시간별 데이터",
                            data: dataArr,
                            backgroundColor: "#86E57F",
                            radius:0,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 10,
                                fontColor: "#fff"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 10,
                                fontColor: "#fff"
                            }
                        }]
                    },
                    legend: {
                        labels: { 
                            fontSize: 11,
                            fontColor: "#fff",
                        },
                    },
                },
            });
        }, 100);
    }

    function monthListChartSet(){
        let getChartContent = document.getElementById("monthChart");
        let copyContent = getChartContent.cloneNode(true);
        getChartContent.after(copyContent);
        getChartContent.remove();

        let monthChart = document.getElementById("monthChart").getContext('2d');
        let dateDataArr = [];
        let dataArr = [];
        let tempDatas1 = {};
        let tempDatas2 = {};

        setTimeout(() => {
            for(let i = 0; i < variableObj.monthList.length; i++){
                let item = variableObj.monthList[i];
                tempDatas1[Number(item[0])] = item[1];
            }
            
            for(let i = 1; i <= 12; i++){
                let label = i;
    
                if(label < 10){
                    label = "0" + label;
                }
    
                tempDatas2[Number(label)] = 0;
                dateDataArr.push(label);
            }
    
            for(let key in tempDatas1){
                tempDatas2[key] = tempDatas1[key];
            }
    
            for(let key in tempDatas2){
                dataArr.push(tempDatas2[key]);
            }
    
            new Chart(monthChart, {
                type: "bar",
                data: {
                    labels: dateDataArr,
                    datasets: [
                        {
                            label: "월별 데이터",
                            data: dataArr,
                            backgroundColor: "#86E57F",
                            radius:0,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 11,
                                fontColor: "#fff"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 11,
                                fontColor: "#fff"
                            }
                        }]
                    },
                    legend: {
                        labels: { 
                            fontSize: 11,
                            fontColor: "#fff",
                        },
                    },
                },
            });
        }, 100);
    }

    function locationListChartSet(){
        let getChartContent = document.getElementById("locationChart");
        let copyContent = getChartContent.cloneNode(true);
        getChartContent.after(copyContent);
        getChartContent.remove();

        let locationChart = document.getElementById("locationChart").getContext('2d');
        let dateDataArr = [];
        let dataArr = [];
        let tempDatas = {};

        setTimeout(() => {
            for(let i = 0; i < variableObj.locationList.length; i++){
                let item = variableObj.locationList[i];
                
                if(item[0] != null){
                    tempDatas[item[0]] = item[1];
                }
            }
            
            for(let i = 0; i < variableObj.camList.length; i++){
                let item = variableObj.camList[i];
                let dataFind = tempDatas[item[1]];
                dateDataArr.push(item[1]);

                if(dataFind !== undefined){
                    dataArr.push(tempDatas[item[1]]);
                }else{
                    dataArr.push(0);
                }
            }
            
            new Chart(locationChart, {
                type: "bar",
                data: {
                    labels: dateDataArr,
                    datasets: [
                        {
                            label: "장소별 데이터",
                            data: dataArr,
                            backgroundColor: "#86E57F",
                            radius:0,
                            borderWidth: 1,
                        },
                    ],
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontSize: 10,
                                fontColor: "#fff"
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 10,
                                fontColor: "#fff"
                            }
                        }]
                    },
                    legend: {
                        labels: { 
                            fontSize: 11,
                            fontColor: "#fff",
                        },
                    },
                },
            });
        }, 100);
    }
</script>
</html>
