<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
<style>
    .container{
        padding-right: 0;
        overflow: auto;
    }

    .chartContents{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-bottom: 20px;
    }

    .chartContents > div{
        height: calc(var(--vh, 1vh) * 41);
        width: 21vw;
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #3C414C;
        color: #fff;
    }

    .chartContents > .doughnutChart{
        flex-grow: 1;
    }

    .chartContents > .barChart{
        height: calc(var(--vh, 1vh) * 50);
        flex-grow: 2;
    }

    .chartContents > .barChart > div > canvas{
        width: 100% !important;
        display: inline !important;
        padding: 10px;
    }

    .chartContents > div > .chartTitle{
        padding: 10px;
    }

    .chartContents > div > .chartDiv{
        width: 100%;
        text-align:center;
    }

    .chartContents > .doughnutChart > div > canvas{
        width: 100% !important;
        height: 35vh !important;
        display: inline-block !important;
        padding: 10px;
    }

    .alarmBody{
        height: 35vh;
        overflow-y: scroll;
    }

</style>
</head>
<body>
    <!-- <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}      
    </div> -->

    <div id="commonBodyContents">
{% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
            <div class="subMenu">
                <a href="/monmain">목록 보기</a>
                <a href="/subm/mnu002">지도 보기</a>
            </div>
            <div>
                <div style="width: 100%;">
                    <hr class="boxTopLineLong" />
                    <table id="camListTable" class="table table-striped nowrap overflow-auto" style="width: 88.3vw;">
                        <colgroup>
                            <col width = "15%">
                            <col width = "15%">
                            <col width = "30%">
                            <col width = "40%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>사이트명</td>
                                <td>고객명</td>
                                <td>위치</td>
                                <td>할당센서</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k in result_camList %}
                            <tr data-no="{{k[0]}}">
                                <td>{{k[0]}}</td>
                                <td>
                                    <a href="/sitedetail/{{k[0]}}">{{k[1]}}</a>
                                </td>
                                <td>({{k[2]}}) {{k[3]}} {{k[4]}}</td>
                                <td>{{k[5]}}, {{k[6]}}, {{k[7]}}, {{k[8]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="chartContents">
                    <div>
                        <hr class="boxTopLineShort" />
                        <table class="table table-striped nowrap" style="margin-bottom: 0;">
                            <thead>
                                <tr>
                                    <td>알람키</td>
                                    <td>알람시작</td>
                                    <td>알람해제</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="alarmBody">
                            <table class="table table-striped nowrap">
                                <tbody>
                                    {% for k in alarmList %}
                                    <tr>
                                        <td>{{k[1]}}</td>
                                        <td>{{k[2]}}</td>
                                        <td>{{k[3]}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <div>
                        <canvas id="areaChart" width="375" height="420"></canvas>
                    </div> -->
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">DISK(%)</div>
                        <div class="chartDiv">
                            <canvas id="diskChart"></canvas>
                        </div>
                    </div>
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">CPU(%)</div> 
                        <div class="chartDiv">
                            <canvas id="cpuChart"></canvas>
                        </div>
                    </div>
                    <div class="doughnutChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">MEMORY(%)</div>
                        <div class="chartDiv">
                            <canvas id="memoryChart"></canvas>
                        </div>
                    </div>
                    <div class="barChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">일별(건)</div>
                        <div class="chartDiv">
                            <canvas id="dateChart" width="500"></canvas>
                        </div>
                    </div>
                    <div class="barChart">
                        <hr class="boxTopLineShort" />
                        <div class="chartTitle">시간별(건)</div>
                        <div class="chartDiv">
                            <canvas id="hourChart" width="500"></canvas>
                        </div>
                    </div>
                </div>
                <!--<div class="chartContents2">
                    <div>
                        <div>CPU</div> 
                        <canvas id="cpuChart" width="400"></canvas>
                    </div>
                    <div>
                        <div>MEMORY</div>
                        <canvas id="memoryChart" width="400"></canvas>
                    </div>
                </div> -->
             </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        diskChartSet();
        cpuChartSet();
        memoryChartSet();
        dateListChartSet();
        hourListChartSet();
        //areaChartSet();
    });

    function diskChartSet(){
        let diskChart = document.getElementById("diskChart").getContext('2d');
        let disk = {{result_disk|tojson}};
        disk[1] = disk[1] / disk[0] * 100;
        disk[2] = disk[2] / disk[0] * 100;

        new Chart(diskChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(disk[1]).toFixed(2), (disk[2]).toFixed(2)],
                        fontColor: "#fff",
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: {
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function cpuChartSet(){
        let cpuChart = document.getElementById("cpuChart").getContext('2d');
        let cpu_remain = {{cpu_remain|tojson}};
        let cpu_percent = {{cpu_percent|tojson}};

        new Chart(cpuChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [cpu_percent, cpu_remain],
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function memoryChartSet(){
        let memoryChart = document.getElementById("memoryChart").getContext('2d');
        let memory = {{result_mem|tojson}};
        memory[3] = memory[3] / memory[0] * 100;
        memory[4] = memory[4] / memory[0] * 100;

        new Chart(memoryChart, {
            type: "doughnut",
            data: {
                labels: ["used", "free"],
                datasets: [
                    {
                        data: [(memory[3]).toFixed(2), (memory[4]).toFixed(2)],
                        backgroundColor: [
                            "#D35662",
                            "#82BB8B"
                        ],
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function dateListChartSet(){
        let dateChart = document.getElementById("dateChart").getContext('2d');
        let dateList = "{{result_dateList}}";
        dateList = JSON.parse(dateList.replace(/&#34;/g, "\""));
        let dateDataArr = [];
        let dataArr = [];
        console.log(dateList)

        for(let i = 0; i < dateList.length; i++){
            dateDataArr.push(dateList[i][0]);
            dataArr.push(dateList[i][1]);
        }

        new Chart(dateChart, {
            type: "bar",
            data: {
                labels: dateDataArr,
                datasets: [
                    {
                        label: "일자별 데이터",
                        data: dataArr,
                        backgroundColor: "#86E57F",
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            fontSize: 16,
                            fontColor: "#fff"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 16,
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }

    function hourListChartSet(){
        let hourChart = document.getElementById("hourChart").getContext('2d');
        let hourList = "{{result_hourList}}";
        hourList = JSON.parse(hourList.replace(/&#34;/g, "\""));
        let dateDataArr = [];
        let dataArr = [];

        for(let i = 0; i < hourList.length; i++){
            dateDataArr.push(hourList[i][0] + "시");
            dataArr.push(hourList[i][1]);
        }

        new Chart(hourChart, {
            type: "bar",
            data: {
                labels: dateDataArr,
                datasets: [
                    {
                        label: "시간별 데이터",
                        data: dataArr,
                        backgroundColor: "#6799FF",
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            fontSize: 16,
                            fontColor: "#fff"
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 16,
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    labels: { 
                        fontSize: 16,
                        fontColor: "#fff",
                    },
                },
            },
        });
    }
</script>
</html>
