<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
    <script>
        $(document).ready(function () {
            $('#foo-table').DataTable({
             "pageLength":20,
             "destroy":true,
             "order":[2,'desc'],
                initComplete: function () {
                this.api()
                .columns('.showMenu')
                .every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value=""></option></select>')
                        .appendTo($(column.header()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });
                     column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                             select.append('<option value="' + d + '">' + d + '</option>');
                        });
                });
        },
        });
        });
    </script>
</head>
<body>
    <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}      
    </div>

    <div id="commonBodyContents">
{% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->

        <div id="commonContent">
            <div class="container">
{% include './Search/comSearch.html' %}
                <div>
                   <table id="foo-table" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                            <td>D001</td>
                            <td>D002</td>
                            <td class = "showMenu">D003</td>
                            <td class = "showMenu">D004</td>
                            <td class = "showMenu">D005</td>
                            <td class = "showMenu">D006</td>
                            <td>D007</td>
                            <td class = "showMenu">D008</td>
                            <td class = "showMenu">D009</td>
                            <td class = "showMenu">D010</td>
                            <td class = "showMenu">D012</td>
                            <td class = "showMenu">D013</td>
                            <td class = "showMenu">D014</td>
                            <td class = "showMenu">D015</td>
                            <td class = "showMenu">D016</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in result %}
                            <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}</td>
                            <td class = "showMenu">{{i[2]}}</td>
                            <td class = "showMenu">{{i[3]}}</td>
                            <td class = "showMenu">{{i[4]}}</td>
                            <td class = "showMenu">{{i[5]}}</td>
                            <td>{{i[6]}}</td>
                            <td class = "showMenu">{{i[7]}}</td>
                            <td class = "showMenu">{{i[8]}}</td>
                            <td class = "showMenu">{{i[9]}}</td>
                            <td class = "showMenu">{{i[10]}}</td>
                            <td class = "showMenu">{{i[11]}}</td>
                            <td class = "showMenu">{{i[12]}}</td>
                            <td class = "showMenu">{{i[13]}}</td>
                            <td class = "showMenu">{{i[14]}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <!-- <tfoot>
                            <tr>
                            <td></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td  class = "showMenu"></td>
                            <td></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            <td class = "showMenu"></td>
                            </tr>
                        </tfoot> -->
                   </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
