<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}

<style>
    table{
        width: 100%;
        border: 1px solid #000;
        border-collapse: collapse;
        font-size: 1.51rem;
    }

    tr {
        border: 1px solid #000;
    }
    
    td{
        border: 1px solid #000;
    }
</style>
</head>
<body>
    <div id="commonTopHeader">
    {% include './menu/comTopHeader.html' %}
    </div>
    <div id="commonBodyContents">
        {% include './menu/sidemenu2.html' %}
        <!-- commonSideMenu end-->
        <div id="commonContent">
            <div class="container" style="display: flex;">
                <div id="map2" style="width:100%; height:768px;"></div>
                <div style="width: 100%;">
                    <table id="alarmTable">
                        <tr>
                            <th style="border-right: 1px solid #000;">사이트명</th>
                            <td style="width: 100%; display: flex; border:0;">
                                <div style="width: 90%; display: flex; align-items: center;">{{result[0]["camName"]}}</div>
                                {% if result[0]["alramAttrib"] == '100001000010000' %}
                                    <button type="button" class="detailAlarmBtn" data-no="{{result[0]["alarmNo"]}}" onclick="alarmUpdate(this);" style="display: flex; justify-content: right;">알람해제</button>
                                {% endif %}
                                <button type="button" data-no="{{result[0]["camNo"]}}" onclick="clickMonitor(this);" style="display: flex; justify-content: right;">화면보기</button>
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>{{result[0]["camAddr1"]}} {{result[0]["camAddr2"]}}</td>
                        </tr>
                        <tr>
                            <th>위도</th>
                            <td>{{result[0]["camLat"]}}</td>
                        </tr>
                        <tr>
                            <th>경도</th>
                            <td>{{result[0]["camLong"]}}</td>
                        </tr>
                        <tr>
                            <td>
                                <div>Sensor1</div>
                                <canvas id="sensor1Chart" width="400" height="200"></canvas>
                            </td>
                            <td>
                                <div>Sensor2</div>
                                <canvas id="sensor2Chart" width="400" height="200"></canvas>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>Sensor3</div>
                                <canvas id="sensor3Chart" width="400" height="200"></canvas>
                            </td>
                            <td>
                                <div>Sensor4</div>
                                <canvas id="sensor4Chart" width="400" height="200"></canvas>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        kakaoMapPlace(document.getElementById("map2"));
        sensor1Chart();
        sensor2Chart();
        sensor3Chart();
        sensor4Chart();

        setInterval(sensor1Chart, 10000);
        setInterval(sensor2Chart, 10000);
        setInterval(sensor3Chart, 10000);
        setInterval(sensor4Chart, 10000);
    });

    function sensor1Chart(){
        let sensor1Chart = document.getElementById("sensor1Chart").getContext('2d');
        let resultArr = "{{sensor01}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor1Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#000",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function sensor2Chart(){
        let sensor2Chart = document.getElementById("sensor2Chart").getContext('2d');
        let resultArr = "{{sensor02}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];
        console.log(resultArr);

        for(let i = 0; i < resultArr.length; i++){
            console.log(resultArr[i]);
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor2Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#000",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function sensor3Chart(){
        let sensor3Chart = document.getElementById("sensor3Chart").getContext('2d');
        let resultArr = "{{sensor03}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor3Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#000",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                legend: {
                    display: false
                },
            },
        });
    }
    
    function sensor4Chart(){
        let sensor4Chart = document.getElementById("sensor4Chart").getContext('2d');
        let resultArr = "{{sensor04}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor4Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#000",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function kakaoMapLatLng(container, lat, lng){
        if(lat === undefined) lat = 33.450701;
        if(lng === undefined) lng = 126.570667;

        kakaoArr.options = {
            center: new kakao.maps.LatLng(lat, lng),
            level: 3
        };
        kakaoArr.map = new kakao.maps.Map(container, kakaoArr.options);
        let markerPosition  = new kakao.maps.LatLng(lat, lng);
        let marker = new kakao.maps.Marker({
            position: markerPosition
        });

        marker.setMap(kakaoArr.map);
    }

    function kakaoMapPlace(container){
        let positions = [];
        let result = "{{resultJson}}";
        console.log(result);
        result = JSON.parse(result.replace(/&#34;/g, "\""));

        kakaoArr.infowindow = new kakao.maps.InfoWindow({zIndex:1});
        kakaoArr.options = {
            center: new kakao.maps.LatLng(result[0][1], result[0][2]),
            level: 3
        };
        kakaoArr.map = new kakao.maps.Map(container, kakaoArr.options);

        for(let i = 0; i < result.length; i++){
            let datas = {
                "content": result[i][4].split(",")[1].replaceAll(")").replaceAll("undefined", ""),
                "latlng": new kakao.maps.LatLng(result[i][1], result[i][2]),
            }
            positions.push(datas);
        }

        displayMarker(positions);
    }

    /* function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i < data.length; i++) {
                console.log(data);
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }
            kakaoArr.map.setBounds(bounds);
        }
    } */

    function displayMarker(positions) {
        for(let i = 0; i < positions.length; i++){
            var marker = new kakao.maps.Marker({
                map: kakaoArr.map,
                position: positions[i].latlng
            });
        
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content
            });
    
            /* kakao.maps.event.addListener(marker, 'click', function(){
                location.href = "/" + positions[i].link;
                setTimeout(() => {
                    location.reload();
                }, 1000);
            }); */

            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(kakaoArr.map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        }
    }

    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }
    
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }
    
    function alarmUpdate(thisEle){
        if(confirm("알림을 해제하시겠습니까??")){
            $.ajax({
                url: "/alarmUpdate/" + thisEle.dataset.no,
                method: "get",
                success: function(result){
                    alert("해제되었습니다.");
    
                    if($($(".detailAlarmBtn")[0]) !== undefined){
                        $($(".detailAlarmBtn")[0]).remove();
                    }
                }
            })
        }else{
            return false;
        }
    }

    function clickMonitor(thisEle){
        location.href = "/videoFeed/" + thisEle.dataset.no;

        setTimeout(() => {
            location.reload();
        }, 2000);
    }
</script>
</html>
