<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}

<style>
    table{
        width: 100%;
        border: 1px solid #000;
        border-collapse: collapse;
        font-size: 1.51rem;
    }

    tr {
        border: 1px solid #000;
    }
    
    td{
        border: 1px solid #000;
    }

    .container{
        overflow: auto;
        padding-top: 30px;
        height: 100%;
    }

    .detailContents{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .detailContents > div{
        width: 50%;
    }

    .detailContents > .mapContents{
        padding-left: 20px;
        height: 768px;
    }

    .detailContents > .mapContents > .monitorContent{
        background-color: #B6B6B5;
    }

    .detailContents > .mapContents > .sensorContent{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background-color: #3C414C;
        margin-top: 15px;
    }

    .detailContents > .mapContents > .sensorContent > div{
        flex-grow: 1;
        width: 50%;
    }

    .detailContents > .mapContents > .sensorContent > div > .sensorTitle{
        padding: 5px;
        color: #fff;
    }

    .detailContents > .mapContents > .sensorContent > div > .chartContent{
        width: 100%;
        text-align: center;
    }

    .detailContents > .mapContents > .sensorContent > div > .chartContent > canvas{
        display: inline !important;
    }

    .detailContents > .mapDiv > #map2{
        width:100%; 
        height:768px;
    }

    .customOverlayText{
        background-color: #3C414C;
        padding: 10px;
    }

    .customOverlayText > span{
        color: #fff;
    }
</style>
</head>
<body>
    <!-- <div id="commonTopHeader">
    {% include './menu/comTopHeader.html' %}
    </div> -->
    <div id="commonBodyContents">
        {% include './menu/sidemenu1.html' %}
        <!-- commonSideMenu end-->
        <div id="commonContent">
            <div class="container">
                <div class="detailContents">
                    <div class="mapDiv">
                        <div id="map2"></div>
                    </div>
                    <div class="mapContents">
                        <div class="monitorContent">
                            <img src="{{ url_for('video_feed', camno=result[0]["camNo"]) }}" style="width:100%; height: 400px">
                        </div>
                        <div class="sensorContent">
                            <hr class="boxTopLineShort" />
                            <div style="border-right: 1px solid #000; border-bottom: 1px solid #000;">
                                <div class="sensorTitle">{{sensorText1}}</div>
                                <div class="chartContent">
                                    <canvas id="sensor1Chart"></canvas>
                                </div>
                            </div>
                            <div style="border-bottom: 1px solid #000;">
                                <div class="sensorTitle">{{sensorText2}}</div>
                                <div class="chartContent">
                                    <canvas id="sensor2Chart"></canvas>
                                </div>
                            </div>
                            <div style="border-right: 1px solid #000;">
                                <div class="sensorTitle">{{sensorText3}}</div>
                                <div class="chartContent">
                                    <canvas id="sensor3Chart"></canvas>
                                </div>
                            </div>
                            <div>
                                <div class="sensorTitle">{{sensorText4}}</div>
                                <div class="chartContent">
                                    <canvas id="sensor4Chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
        kakaoMapPlace(document.getElementById("map2"));
        sensor1Chart();
        sensor2Chart();
        sensor3Chart();
        sensor4Chart();

        setInterval(sensor1Chart, 10000);
        setInterval(sensor2Chart, 10000);
        setInterval(sensor3Chart, 10000);
        setInterval(sensor4Chart, 10000);
    });

    function sensor1Chart(){
        let sensor1Chart = document.getElementById("sensor1Chart").getContext('2d');
        let resultArr = "{{sensor01}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor1Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#fff",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function sensor2Chart(){
        let sensor2Chart = document.getElementById("sensor2Chart").getContext('2d');
        let resultArr = "{{sensor02}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor2Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#fff",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function sensor3Chart(){
        let sensor3Chart = document.getElementById("sensor3Chart").getContext('2d');
        let resultArr = "{{sensor03}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor3Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        backgroundColor: "#fff",
                        borderColor: "#fff",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    display: false
                },
            },
        });
    }
    
    function sensor4Chart(){
        let sensor4Chart = document.getElementById("sensor4Chart").getContext('2d');
        let resultArr = "{{sensor04}}";
        resultArr = JSON.parse(resultArr.replace(/&#34;/g, "\""));
        let dataArr = [];

        for(let i = 0; i < resultArr.length; i++){
            dataArr.push(resultArr[i][1]);
        }

        new Chart(sensor4Chart, {
            type: "line",
            data: {
                datasets: [
                    {
                        data: dataArr,
                        borderColor: "#fff",
                        fill: false,
                        radius:0,
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                responsive: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#fff"
                        }
                    }]
                },
                legend: {
                    display: false
                },
            },
        });
    }

    function kakaoMapLatLng(container, lat, lng){
        if(lat === undefined) lat = 33.450701;
        if(lng === undefined) lng = 126.570667;

        kakaoArr.options = {
            center: new kakao.maps.LatLng(lat, lng),
            level: 3
        };
        kakaoArr.map = new kakao.maps.Map(container, kakaoArr.options);
        let markerPosition  = new kakao.maps.LatLng(lat, lng);
        let marker = new kakao.maps.Marker({
            position: markerPosition
        });

        marker.setMap(kakaoArr.map);
    }

    function kakaoMapPlace(container){
        let positions = [];
        let result = "{{resultJson}}";
        result = JSON.parse(result.replace(/&#34;/g, "\""));

        kakaoArr.infowindow = new kakao.maps.InfoWindow({zIndex:1});
        kakaoArr.options = {
            center: new kakao.maps.LatLng(result[0][1], result[0][2]),
            level: 3
        };
        kakaoArr.map = new kakao.maps.Map(container, kakaoArr.options);

        for(let i = 0; i < result.length; i++){
            let datas = {
                "content": result[i][4].split(",")[1].replaceAll(")").replaceAll("undefined", ""),
                "latlng": new kakao.maps.LatLng(result[i][1], result[i][2]),
                "text": "<div class=\"customOverlayText\"><span>사이트명 : " + result[i][7] + "</span><br /><span>주소 : " + result[i][3] + " " + result[i][4] + "</span><br /><span>위도 : " + result[i][1] + "</span><br /><span>경도 : " + result[i][2] + "</span></div>",
            }
            positions.push(datas);
        }

        displayMarker(positions);
    }

    /* function placesSearchCB (data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            var bounds = new kakao.maps.LatLngBounds();

            for (var i=0; i < data.length; i++) {
                console.log(data);
                displayMarker(data[i]);
                bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
            }
            kakaoArr.map.setBounds(bounds);
        }
    } */

    function displayMarker(positions) {
        for(let i = 0; i < positions.length; i++){
            var marker = new kakao.maps.Marker({
                map: kakaoArr.map,
                position: positions[i].latlng,
            });
        
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content
            });

            var customOverlay = new kakao.maps.CustomOverlay({
                position: positions[i].latlng,
                content: positions[i].text,
                xAnchor: 0.45,
                yAnchor: 1.4
            });
    
            /* kakao.maps.event.addListener(marker, 'click', function(){
                location.href = "/" + positions[i].link;
                setTimeout(() => {
                    location.reload();
                }, 1000);
            }); */

            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(kakaoArr.map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            customOverlay.setMap(kakaoArr.map);
        }
    }

    function makeOverListener(map, marker, infowindow) {
        return function() {
            infowindow.open(map, marker);
        };
    }
    
    function makeOutListener(infowindow) {
        return function() {
            infowindow.close();
        };
    }
    
    function alarmUpdate(thisEle){
        if(confirm("알림을 해제하시겠습니까??")){
            $.ajax({
                url: "/alarmUpdate/" + thisEle.dataset.no,
                method: "get",
                success: function(result){
                    alert("해제되었습니다.");
    
                    if($($(".detailAlarmBtn")[0]) !== undefined){
                        $($(".detailAlarmBtn")[0]).remove();
                    }
                }
            })
        }else{
            return false;
        }
    }

    function clickMonitor(thisEle){
        location.href = "/videoFeed/" + thisEle.dataset.no;

        setTimeout(() => {
            location.reload();
        }, 2000);
    }
</script>
</html>
