    <meta charset="UTF-8">
    <title>vtek VideoVision ver.20230630 </title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="{{ url_for('static', filename = '/js/loading.js') }}"></script>
    <script src="{{ url_for('static', filename = '/js/chart.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <link href="{{ url_for('static', filename = 'css/root.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonHeader.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename = 'css/commonContent.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = '/css/loading.css') }}" />
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=65dd993d57fe1f0cffa674c5e447cf7d&libraries=services,clusterer,drawing"></script>
    <div id="loadingDiv"></div>
    <style>
        .bottom{
            display: flex;
            align-items: center;
            padding-top: 10px;
        }

        .bottom > .dataTables_length{
            display: flex;
            align-items: center;
            justify-content: left;
            width: 100%;
        }

        .bottom > .dataTables_paginate{
            display: flex;
            align-items: center;
            justify-content: right;
            width: 100%;
        }

        .dataTables_scrollBody > table{
            width: inherit !important;
        }

        .container{
            max-height: 100%;
            overflow: hidden;
        }
    </style>
    <script>
        let kakaoArr = {};
        $("#loadingDiv").loading({
            onStart: function (loading) {
                loading.overlay.fadeIn(1000);
            },
            onStop: function (loading) {
                loading.overlay.fadeOut(1000);
            }
        });

        $(window).ready(function(){
            $("#loadingDiv").hide();
            $("#loadingDiv").loading("toggle");
            
            sideSetMenu();
            
            $("html").on("keydown", function(e){
                if(e.which==13){
                    if(document.getElementsByClassName("search")[0] !== undefined){
                        e.preventDefault();
                        searchSubmit();
                    }
                }
            });

            setInterval("alarmCheck()", 10000);
        });

        function alarmCheck(){
            $.ajax({
                url: "/mainAlarmDatas",
                method: "get",
                dataType: "json",
                contentType: "text/plain",
                success: function(result) {
                    if(result.length > 0){
                        $.ajax({
                            url: "/alarmCountInsert/" + result[0][1],
                            method: "post",
                            dataType: "json",
                            contentType: "text/plain",
                        });

                        for(let i = 0; i < result.length; i++){
                            $.ajax({
                                url: "/camListSelect/" + result[i][1],
                                method: "get",
                                dataType: "json",
                                contentType: "text/plain",
                                success: function(selectData){
                                    let listDiv = $(".mainSearchContent div[data-no=\"" + selectData[0][0] + "\"]");
                                    listDiv.click();
                                    let camListTableBody = $("#camListTableBody");
                                    let camLocationListTableBody = $("#camLocationListTableBody");
                                    let rate = Math.round(camListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").attr("data-rate"));
                                    camListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "red");
                                    camLocationListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "red");
                                    
                                    let detailAlarmBtn = $(".detailAlarmBtn")[0];
                                    if(detailAlarmBtn === undefined){
                                        $("#alarmTable").find("tr:first td").append("<button type=\"button\" class=\"detailAlarmBtn\" data-no=\"" + result[i][0] + "\" onclick=\"alarmUpdate(this);\" style=\"display: flex; justify-content: right;\">알람해제</button>");
                                    }

                                    $.ajax({
                                        url: "/camListRate/" + rate,
                                        method: "get",
                                        dataType: "json",
                                        contentType: "text/plain",
                                        success: function(rateData){
                                            setTimeout(() => {
                                                let str = "";
                                                camListTableBody.find("tbody tr .fireCheckTd[data-no=\"" + selectData[0][0] + "\"]").text("OFF");
                                                
                                                if(result[i][4].indexOf("kkkkk") > -1 || result[i][4].indexOf("KKKKK") > -1){
                                                    camListTableBody.find("tbody tr .fireCheckTd[data-no=\"" + selectData[0][0] + "\"]").text("ON");
                                                    str = "연기가 감지되었습니다.\n주변 온도가 낮은 상황이어서 오탐지일 가능성이 높습니다.";
                                                }else if(result[i][4].indexOf("sssss") > -1 || result[i][4].indexOf("SSSSS") > -1){
                                                    str = "누전이 감지되었습니다.";
                                                }else{
                                                    str = "[alarmkey: " + selectData[0][3] + "] 화재 가능성이 있습니다.\n습도45% 이하: " + rateData[0][1] + "\n습도65% 이하: " + rateData[0][2] + "\n습도85% 이하: " + rateData[0][3] + "\n화재확률: " + rateData[0][4] + "%";
                                                }
                                                
                                                setTimeout(() => {
                                                    if(confirm(str)){
                                                        location.href = "/sitedetail/" + selectData[0][0];
                                                        camListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "");
                                                        camLocationListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "");
                                                    }else{
                                                        camListTableBody.find("tbody tr .fireCheckTd[data-no=\"" + selectData[0][0] + "\"]").text("OFF");
                                                        camListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "");
                                                        camLocationListTableBody.find("tbody tr[data-no=\"" + selectData[0][0] + "\"]").css("background-color", "");
                                                        return false;
                                                    }
                                                }, 100);
                                            }, 300)
                                        }
                                    })

                                }
                            });
                        }
                    }else{
                        if($($(".detailAlarmBtn")[0]) !== undefined){
                            $($(".detailAlarmBtn")[0]).remove();
                        }
                    }
                }
            })
        }

        function searchTextCol(e){
            let thisEle = $(e);
            let dataColumn = thisEle.data("colname");
            let whereplus = $("#whereplus");
            let setText = "";

            if(whereplus.val() === ""){
                setText += " AND (" + dataColumn + "='" + thisEle.data("value") + "')";
            }else{
                setText += whereplus.val() + " AND (" + dataColumn + "='" + thisEle.data("value") + "')";
            }

            whereplus.val(setText);
        }

        function pageDataSettings(result, cond){
            let dataArr = [];
            let datas = {};
            let d002Index = 0;

            for(let i = 0; i < cond.length; i++){
                let dataObj = {};
                dataObj.data = cond[i].activeMenu;
                
                if(cond[i].activeMenu === "d002"){
                    d002Index = i;
                }

                dataObj.render = function(data, type, row){
                    let dataFormat = Date.parse(data);
                    let valueData;
                    
                    if(cond[i].activeMenu === "d002"){
                        let getDate = dateConvert(data);
                        valueData = getDate.getFullYear() + "-" + String((getDate.getMonth() + 1)).padStart(2, "0") + "-" + String(getDate.getDate()).padStart(2, "0") + " " + String(getDate.getHours()).padStart(2, "0") + ":" + String(getDate.getMinutes()).padStart(2, "0") + ":" + String(getDate.getSeconds()).padStart(2, "0");
                    }else{
                        valueData = data;
                    }

                    if(!isNaN(dataFormat)){
                        data = "<a href=\"javascript:void(0);\" data-colname=\"" + cond[i].activeMenu + "\" data-value=\"" + valueData + "\" onClick=\"searchTextCol(this);\">" + valueData + "</a>";
                    }else{
                        data = "<a href=\"javascript:void(0);\" data-colname=\"" + cond[i].activeMenu + "\" data-value=\"" + valueData + "\" onClick=\"searchTextCol(this);\">" + data + "</a>";
                    }

                    return data;
                };
                dataArr.push(dataObj);
            }

            $('#foo-table thead tr:last td').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="' + title + '" />');
            });

            setTimeout(() => {
                if(localStorage.getItem("searchFlag") && localStorage.getItem("searchFlag") !== null){
                    datas.datefrom = $("#datefrom").val();
                    datas.timefrom = $("#timefrom").val();
                    datas.dateto = $("#dateto").val();
                    datas.datetimetofrom = $("#timeto").val();
                    datas.whereplus = $("#whereplus").val();
                    datas.menuTitle = localStorage.getItem("menuTitle");
                    datas.menuIndex = localStorage.getItem("menuIndex");
                    localStorage.clear();
                }else{
                    let nowDate = new Date();
                    $("#timeto").val(String(nowDate.getHours()).padStart(2, "0") + ":" + String(nowDate.getMinutes()).padStart(2, "0"));

                    if((nowDate.getMinutes() - 5) < 0){
                        nowDate.setHours(nowDate.getHours() - 1);
                        nowDate.setMinutes(60 - Math.abs(String((nowDate.getMinutes() - 5)).padStart(2, "0")));
                        $("#timefrom").val(String(nowDate.getHours()).padStart(2, "0") + ":" + String(nowDate.getMinutes()).padStart(2, "0"));
                    }else{
                        $("#timefrom").val(String(nowDate.getHours()).padStart(2, "0") + ":" + String(nowDate.getMinutes() - 5).padStart(2, "0"));
                    }

                    datas.datefrom = $("#datefrom").val();
                    datas.timefrom = $("#timefrom").val();
                    datas.dateto = $("#dateto").val();
                    datas.datetimetofrom = $("#timeto").val();
                    datas.menuTitle = localStorage.getItem("menuTitle");
                    datas.menuIndex = localStorage.getItem("menuIndex");
                }

                $(window).resize(function() {
                    $('.dataTables_scrollBody').css('height', ($(window).height() - 180));
                });


                $('#foo-table').DataTable({
                    "searching": false,
                    "info": false,
                    "scrollX": true,
                    "scrollY": ($(window).height() - 230),
                    "dom": 't<"bottom"lp>',
                    "processing": true,
                    "serverSide": true,
                    "order": [[d002Index, "desc"]],
                    "ajax": {
                        "url": '/subm/mnujson',
                        "type": 'get',
                        "data": datas,
                        "beforeSend": function(){
                            $("#loadingDiv").loading({
                                onStart: function (loading) {
                                    loading.overlay.fadeIn(1000);
                                },
                                onStop: function (loading) {
                                    loading.overlay.fadeOut(1000);
                                }
                            });
                        },
                        
                        "complete": function(){
                            $("#loadingDiv").hide();
                            $("#loadingDiv").loading("toggle");
                        }
                    },
                    "columns": dataArr,
                    "lengthChange" : true, 
                    "lengthMenu" : [10, 20, 30, 40, 50, 100],
                    "pageLength": 50,
                });

                if(localStorage.getItem("menuTitle") && localStorage.getItem("menuTitle") !== null){
                    $("#csvExportBtn").attr("data-title", localStorage.getItem("menuTitle"));
                    localStorage.removeItem("menuTitle");
                }else{
                    if($("#csvExportBtn").length > 0){
                        $("#csvExportBtn").attr("data-title", "Monitoring");
                    }
                }
            }, 300);
        }

        function dateConvert(date){
            let getDate = new Date(date);
            let utcDate = getDate.getTime() + (getDate.getTimezoneOffset() * 60 * 1000);
            //let koreaTimeDiff = 9 * 60 * 60 * 1000;
            
            return new Date(utcDate);
        }

        function downloadCSV(thisEle) {
            let fileName = $(thisEle).data("title") + ".csv";
            let csv = convertNodeToCsvString();
            let link = document.createElement("a");
            let blob = new Blob(["\uFEFF" + csv], {type: 'text/csv; charset=utf-8'});
            let url = URL.createObjectURL(blob);

            $(link).attr({"download" : fileName , "href" : url});
            link.click();
        }
    
        function convertNodeToCsvString() {
            let result = "";
            let node = $("#foo-table thead tr").children();
            let nodeIndex = 0;

            $(node).each(function (index, value) {
                result += $(value).text() + ",";
                nodeIndex++;
            })

            result += "\n";
    
            let itemNodes = $("#foo-table tbody tr td");
            $(itemNodes).each(function (index, value) {
                if(index > 0 && index % nodeIndex == 0){
                    result += "\n";
                }
                result += $(value).text().trim() + ",";
            });

            return result;
        }

        function pageMove(thisEle){
            localStorage.setItem("sideSetMenu", $(thisEle).attr("data-href"));
            location.href = $(thisEle).data("href");
        }

        function sideSetMenu(){
            let sideSetMenu = localStorage.getItem("sideSetMenu");

            if(sideSetMenu != null){
                let element = $(".sideSubMenu a[data-href=\"" + sideSetMenu + "\"]");
                element.parent().css("display", "block");
                localStorage.removeItem("sideSetMenu");
            }
        }

        function sideMenuMainClick(thisEle){
            let sideSubMenu = $(".sideSubMenu");
            sideSubMenu.hide();
            $(thisEle).parent().next().css("display", "block");
        }
    </script>
