<div id="commonSideMenu">
    <div class="sideMenu" id="sideMenu">
        <ul id="business">
            <li>
                <ul id="panel">
                    <li><img src="/static/images/sideMenu/traffic.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu001" data-index="1" onclick="pageMove(this);">목록 보기</a></li>
                    <li><img src="/static/images/sideMenu/threat.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu002" data-index="2" onclick="pageMove(this);">지도 보기</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>