<div id="commonSideMenu">
    <div class="sideMenu" id="sideMenu">
        <ul id="business">
            <li>
                <ul id="panel">
                    <li><img src="/static/images/sideMenu/traffic.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu001" data-index="1" onclick="pageMove(this);">Traffic</a></li>
                    <li><img src="/static/images/sideMenu/threat.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu002" data-index="2" onclick="pageMove(this);">Threat</a></li>
                    <li><img src="/static/images/sideMenu/url-filtering.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu003" data-index="3" onclick="pageMove(this);">URL Filtering</a></li>
                    <li><img src="/static/images/sideMenu/wildfire-submissions.png">&nbsp;<a href="javascript:void(0);" data-href="/subm/mnu004" data-index="4" onclick="pageMove(this);">WildFire Submissions</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
