        <div id="commonSideMenu">
            <div class="sideMenu" id="sideMenu">
                <ul id="business">
                    <li>
                        <!-- <a href="/subm/mnu001">CPU STATUS</a> -->
                        <ul id="panel">
                            <!--<li><a href="/subm/cpu">CPU/MEMORY/DISK STATUS</a></li>-->
                            <!--<li><a href="/subm/disk">DISK</a></li>-->
                            <!--<li><a href="/subm/network">NETWORK</a></li>-->
                        </ul>
                    </li>
                </ul>

                <!-- <ul id="business">
                    <li>
                        <ul id="panel">
                            <li><a href="/subm/mnu001">CPU STATUS</a></li>
                            <li><a href="/subm/mnu002">DISK</a></li>
                            <li><a href="/subm/mnu003">NETWORK</a></li>
                        </ul>
                    </li>
                </ul> -->
            </div>
        </div>
