<!DOCTYPE html>
<html lang="en">
<head>
{% include '/menu/header.html' %}
<style>
    .userAddContents{
        width: 100%;
        padding-bottom: 10px;
    }

    .userAddContents > div{
        display: flex;
        align-items: center;
        justify-content: right;
        padding-bottom: 10px;
    }

    .userAddContents > table{
        width: 100%;
    }

    .userAddContents > table > thead > tr > th{
        padding: 5px;
    }

    .userAddContents > table > tbody > tr > td{
        padding: 5px;
    }

    .userAddContents > table > tbody > tr > td > input{
        width: 100%;
    }
</style>
</head>
<body>
    <!-- <div id="commonTopHeader">
{% include './menu/comTopHeader.html' %}
    </div> -->

    <div id="commonBodyContents">
{% include './menu/sidemenu1.html' %}  
    <div id="commonContent">
        <div class="container">
            <div class="subMenu">
                <a href="/userAdd">관리자 등록</a>
                <a href="/deviceAdd">장비 등록</a>
                <a href="/siteAdd">사이트 등록</a>
                <a href="/custAdd">고객 등록</a>
            </div>
            <div class="userAddContents">
                <div>
                    <button type="button" onclick="userAddSubmit();">유저등록</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>아이디</th>
                            <th>비밀번호</th>
                            <th>이름</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" id="userId"></td>
                            <td><input type="password" id="userPasswd"></td>
                            <td><input type="text" id="userName"></td>
                            <td><input type="text" id="userEmail"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table id="foo-table" class="table table-striped table-bordered nowrap overflow-auto">
                    <thead>
                        <tr>
                            <th>아이디</th>
                            <th>이름</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k in cond %}
                        <tr>
                            <td>{{k[1]}}</td>
                            <td>{{k[2]}}</td>
                            <td>{{k[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    function userAddSubmit(){
        if($("#userId").val() === ""){
            alert("아이디를 입력해주세요.");
            $("#userId").focus();
            return false;
        }else if($("#userPasswd").val() === ""){
            alert("비밀번호를 입력해주세요.");
            $("#userPasswd").focus();
            return false;
        }else if($("#userName").val() === ""){
            alert("이름을 입력해주세요.");
            $("#userName").focus();
            return false;
        }else if($("#userEmail").val() === ""){
            alert("이메일을 입력해주세요.");
            $("#userEmail").focus();
            return false;
        }else{
            let datas = {};
            datas.userId = $("#userId").val();
            datas.userPasswd = $("#userPasswd").val();
            datas.userName = $("#userName").val();
            datas.userEmail = $("#userEmail").val();

            $.ajax({
                "url": "/userAdd",
                "method": "post",
                "data": datas,
                "success": function(){
                    alert("등록되었습니다.");
                    location.reload();
                }
            })
        }
    }
</script>
</html>
